@font-face {
    font-family: "ppneuemontreal";
    src: url(../fonts/ppneuemontreal-medium.otf);
}

body{
    font-family: "ppneuemontreal";
}

.container{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top:10%;
}


.bold{
    font-weight: bold;
}

#books{



}